[gerrit]
	basePath = git
	canonicalWebUrl = http://cesiumos.me
	serverId = 84f3385b-8380-46b1-bd55-b34b327b2685
[container]
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	user = root
	javaHome = /usr/lib/jvm/java-1.8.0-openjdk-1.8.0.242.b08-0.el8_1.x86_64/jre
[index]
	type = lucene
[auth]
	type = OAUTH
	gitBasicAuthPolicy = HTTP
[receive]
	enableSignedPush = true
[sendemail]
	smtpServer = localhost
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = http://*:80/
[cache]
	directory = cache
[plugin "gerrit-oauth-provider-github-oauth"]
	client-id = a22ec405e496f007db44
	fix-legacy-user-id = false
